*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100%;
	width: 100%;
	overflow: auto;
}
.home{
	width: 100%;
	height: 75px;
	background-color: #726fd2;
}
.heading{
	position:relative;
	left: 2%;
	top: 15px;
}
.menu{
	height: 20%;
	position: relative;
	left: 67%;
	top: -55px;
}
.groupphoto{
	position: relative;
	top: -30px;
}
.profilephoto{
	position: relative;
	top: -40px;
	border-radius: 50%;
}

.contactform{
	clear: left;
	clear: center;
	text-align: center;
	position: relative;
	top: -75px;
}
.submit{
	border-radius: 5px;
	width: 125px;
	padding: 5px;
	text-align: center;
	background-color:#d9c8f4;
}
.line{
	position: relative;
	top: -50px;
}
.copyright{
	position: relative;
	top: -30px;
	left: 10px;
}
.thumbnail{
	position: relative;
	left: 75%;
	top: -20px;
}
