h2.heading {
	text-align: center;
	font-size: 32px;
	font-family: Helvetica;
}

img.pic {
   cursor: pointer;
   display: inline-block;
   height: 80px;
   max-width: 80px;	
   border-radius: 50%;
}

span.first{
	position: relative;
	margin-right: 100px;
	margin-left: 80px;

}

span.second{
	margin-right: 100px;
	position: relative;
}

span.fourth {
	margin-left: 180px;
	position: relative;
}

span.fifth {
	margin-left: 120px;
	position: relative;
}

span.sixth {
    margin-left: 100px;
    position: relative;
}


span.font {
	font-family: arial;
	font-size: 22px;
  	position: relative;
	float: center;
    margin-left: 5px;
}

.popup {                                                    
	margin-left:400px;
	display: none;
    z-index: 1;
	position: fixed;
	float: center;
	
	color: black;
	max-width:600px;
	max-height: 300px;
	border-radius: 20px;
	padding: 10px;
	border: 2px solid black;
	overflow: auto;
    margin-top: -350px;
    background-color: #fefefe;
    box-sizing: border-box;
    	
  

}

.popup1 {
	margin-left:400px;
	margin-top: -500px;
	display: none;
    z-index: 1;
	position: fixed;
	float: center;
	 background-color: #fefefe;
	color: black;
    max-width:600px;
	max-height: 300px;
	border-radius: 20px;
	padding: 8px;
	border: 2px solid black;
	overflow: auto;
	 box-sizing: border-box;


}


.close1, .close2 , .close3 ,.close4 ,.close5 ,.close6{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus ,
.close2:hover ,.close2:focus,
.close3:hover, .close3:focus,
.close4:hover, .close4:focus,
.close5:hover, .close5:focus,
.close6:hover, .close6:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.profile {
		font-family: arial;
	font-size: 22px;
  	float: right;
    padding-right: 80px;
    padding-left: 10px;
    padding-top: 60px;
 
}

.profiletext {

	color: #696969;

}